[submodule "poc-micro-frontend-app1"]
	path = packages/poc-micro-frontend-app1
	url = https://github.com/glh-henrique/poc-micro-frontend-app1.git
[submodule "poc-micro-frontend-app2"]
	path = packages/poc-micro-frontend-app2
	url = https://github.com/glh-henrique/poc-micro-frontend-app2.git
